<% content_for :title, "Editing festival" %>

<div class="mx-auto max-w-2xl">
  <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight mb-8">祭り編集</h1>

  <%= render "form", festival: @festival %>
</div>
